/* body */
body {
    font-family: "PT Sans", sans-serif;
}

/* header */
header {
    width: 1440px;
    margin: auto;
    background-color: #2A9D8F;
    padding: 38px 130px;

}

.link {
    display: inline-block;
    width: 46;
    height: 46;
    vertical-align: middle;
}

.icon {
    width: 100%;
    height: 100%;
}

nav {
    display: inline-block;
    margin-left: 682px;
    vertical-align: middle;
}

li {
    display: inline-block;
}

.active {
    font-weight: 700;
    font-style: Bold;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: 0.5%;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 4px 4px 4px #000000CC;
}

.inactive {
    font-weight: 700;
    font-style: Bold;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: 0.5%;
    text-align: center;
    color: #FFFFFF;
}

.mright {
    margin-right: 72px;
}

/* section */
section {
    width: 1440px;
    margin: auto;
    background-color: #D4F3F0;
    padding: 80px 130px;
}

img {
    vertical-align: top;
}

article {
    display: inline-block;
    width: 460px;
    margin-left: 115px;
    vertical-align: top;
}

h1 {
    font-weight: 700;
    font-style: Italic;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 0.5%;
    color: #06686E;
    margin-bottom: 32px;
}

p {
    font-weight: 400;
    font-style: Italic;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0.5%;
    text-align: justify;
    color: #06686E;
    margin-bottom: 42px;
}

button {
    border: none;
    width: 146px;
    height: 48px;
    background-color: #2A9D8F;
    font-weight: 700;
    font-style: Bold;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    color: #FFFFFF;
}

/* footer */
footer {
    width: 1440px;
    margin: auto;
    padding: 38px 636px;
    background-color: #2A9D8F;
}

h2 {
    font-weight: 400;
    font-size: 32px;
    text-decoration: underline;
    line-height: 40px;
    letter-spacing: 0px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 40px;
}

.linkmargin {
    margin-right: 27px;
}
